main {
    display: contents;
}

:root {
    height: 100%;
    min-height: 30rem;
    min-width: 20rch;
    color: var(--color-fg);
    background-color: color-mix(in oklch shorter hue, var(--color-accent) 10%, var(--color-bg) 90%);
    font-family: system-ui;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: stretch;
}

demo-container {
    flex: 1;
    align-self: stretch;
    background-color: var(--color-bg);
    box-shadow: 0 0.35rem 1rem -0.25rem var(--color-shadow) inset;
}

.page-content {
    padding-inline: var(--margin-inline);
}

.main-flow-item>section>details {
    summary {
        text-align: center;
    }
}

.main-flow-item>section>details>summary h2 {
    display: inline-block;
    vertical-align: middle;
}

demo-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
}

#editor,
#viewer {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    font-size: 0.75rem;
    color: var(--color-fg-2);
}

#text-in,
#text-out {
    text-wrap: nowrap;
    margin: 0;
}

#view-out {
    padding-inline: 0;
    border: none;
}

.main-flow-item {
    overflow: visible;
    width: 0;
    margin-block: var(--margin-block);
    margin-inline: var(--margin-inline-thin);
    position: relative;
    flex: 0 0 fit-content;
    transition: all 50ms ease-out;

    >section {
        margin: 0;

        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: 0 0.35rem 1rem -0.25rem var(--color-shadow);
        border: 1px solid var(--color-fg-3);
        background: var(--color-bg);
        display: flex;
        flex-flow: column;

        >details:not([open])>summary {
            text-orientation: mixed;
            writing-mode: vertical-lr;
            margin-inline: var(--margin-inline);
            transform: rotate(180deg);
        }

        >details {
            display: contents;
        }

        >details[open] {
            width: 100%;
            height: 100%;
        }
    }

    &:has(>section>details[open]) {
        min-height: 30%;

        >section {
            position: absolute;
            inset: 0;
            width: auto;
            height: auto;
        }

        &#text-in-wrapper {
            flex: 1 1 50rch;
            min-width: calc(min(100%, 30rch));
        }

        &#text-out-wrapper {
            flex: 1 1 30rch;
            min-width: calc(min(100%, 20rch));
        }

        &#view-out-wrapper {
            flex: 1 1 40rch;
            min-width: calc(min(100%, 40rch));
            max-width: 60rem;
        }
    }
}

.syntax-error {
    border-bottom: double red;
    position: absolute;
}


body>header,
body>footer {
    padding-block: var(--margin-block-thin);
}

body>header h1 {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .page-content {
        padding-inline: var(--margin-inline-thin);
    }

    demo-container {
        flex-flow: column;
    }

    .main-flow-item {
        width: auto;
        margin-inline: 0;
    }

    .main-flow-item:has(>section>details[open]:not(#specific)) {
        flex: 1 0 min-content;
    }

    .main-flow-item>section>details:not([open])>summary {
        text-orientation: inherit;
        writing-mode: inherit;
        transform: none;
    }
}

@media (max-width: 480px) {
    .page-content {
        padding-inline: 0;
    }
}

.tool-bar {
    display: flex;
    padding-inline: var(--margin-inline-thin);
    padding-block: 0;
    align-items: baseline;
    margin: 0;
    overflow: auto;
    max-height: min-content;
}

body>header.tool-bar {
    padding-inline: var(--margin-inline);
}

body>header.tool-bar h1 {
    margin-inline-end: auto;
}

.tool-bar>* {
    margin-inline: var(--margin-inline-thin);
    margin-block: auto;
    display: block;
    flex: 0 0 max-content;
}

.tool-bar fieldset {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.tool-bar fieldset label {
    display: inline-block;
}

.tool-bar .credit {
    justify-self: end;
    margin-inline-start: auto;
}

.credit {
    font-size: smaller;
}

#text-in,
#text-out,
#view-out {
    flex: 1;
}